/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body, h1, h2, h3, h4, h5, h6, p, a, ul, li, figure, figcaption {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


/* Colors */
.red-bg {
	background-color: #8F3931;
}

.red-bg:hover {
	background-color: #B1746F;
}

.blue-bg {
	background-color: #155F83;
}

.blue-bg:hover {
	background-color: #5B8FA8;
}

.green-bg {
	background-color: #8A9045;
}

.green-bg:hover {
	background-color: #ADB17D;
}

.yellow-bg {
	background-color: #CC8214;
}

.yellow-bg:hover {
	background-color: #FFB547;
}

.orange-bg {
	background-color: #C16622;
}

.orange-bg:hover {
	background-color: #D49464;
}

.grey-bg {
	background-color: #aaa;
}

.grey-bg:hover {
	background-color: #ccc
}

.white-bg {
	background-color: white !important;
}


/* Global Styles*/
button, .mobile-download {
	position: relative;
	
	/*Condense with SCSS*/
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
}

button a {
	color: white;
}

button:hover {
	cursor: pointer;
}

.button-small {
	font-size: 16px;
	width: 125px;
	height: 30px;
	color: white;
	border: none;
}

.button-med {
	font-size: 20px;
	width: 180px;
	height: 45px;
	color: white;
	border: none;
}

.button-large {
	font-size: 26px;
	width: 325px;
	height: 60px;
	color: white;
	border: none;
}

a {
	text-decoration: none;
}

strong {
	font-size: 18px;
}

.group:after {
	content: "";
	display: table;
	clear: both;''
}


/* Layouts */
.body-homepage {
	background-color: black;
}

header {
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 1000;
	background-color: #800000;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.bg-home {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg1.jpg');
	background-size: cover;
	opacity: 0.7;
}

.bg-wallpaper {
	background-image: url('../img/soft_wallpaper.png');
}

.bg-wallpaper strong {
	color: #8F3931;
}

main, .main-home {
	position: relative;
	width: 100%;
	min-width: 1280px;
	min-height: 100%;
	height: auto;
	overflow-x: hidden;
}

.main-wrapper {
	position: relative;
	top: 50px;
	padding: 30px 50px 0 50px;
	margin: 0 auto;
	height: 90%;
	height: auto;
	width: 100%;
	max-width: 875px;
	border: 1px solid #ccc;
	background-color: white
}

.main-home {
	text-align: center;
	color: white;
}

.left-side {
	position: fixed;
	margin: 0;
	height: 100%;
	min-width: 260px;
	width: 20%;
	text-align: center;
	border: 2px solid #ccc;
}

.main-events {
	float: left;
	position: absolute;
	left: 250px;
	padding: 53px 35px 0 30px;
	width: 70%;
	min-width: 980px;
	height: auto;
	min-height: 99%;
}

footer {
	font-size: 14px;
	text-align: center;
	width: 100%;
}

footer a {
	color: white;
}

footer ul {
	display: inline-block;
	width: auto;
	list-style: none;
}

footer li {
	margin: 0 15px 0 0;
	display: inline;
}

.footer-home{
	left: 0;
	bottom: 25px;
	position: absolute;
}



/* Homepage */

.logo {
	float: left;
	position: relative;
	top: 11px;
	left: 30px;
	width: 500px;
}

.logo img {
	width: 30px;
	float: left;
	border-radius: 3px;
}

.logo select {
	height: 20px;
	margin-left: 20px;
	margin-top: 8px;
	border: 0;
	font-size: 14px;
}

h1 {
	position: relative;
	float: left;
	left: 12px;
	top: 3px;
}

h1 a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.home-btns {
	position: relative;
	float: right;
	top: 10px;
	right: 30px;
}

.main-home  h2 {
	position: relative;	
	top: 180px;
	padding-bottom: 30px;
	font-size: 40px;
}

.welcome-message {
	position: relative;
	top: 170px;
	margin: auto;
	width: 1000px;
	font-size: 24px;
	font-weight: 300;
	line-height: 35px;
}

.play-video {
	top: 235px;
}

.signup {
	top: 236.5px;
}

.play-video {
	margin-right: 50px;
}

.mobile-download {
	position:relative; 
	top:320px; 
	left: 325px;
}

.heading {
	position: relative;
	margin-bottom: 25px;
	font-size: 40px;
	color: #8A9045;
}

a, .text-blue, .text-blue a {
	color: #5B8FA8;
}

ul.schools-list {
	float: left;
	position: relative;
	width: 400px;
	left: 75px;
	font-size: 20px;
}

ul.schools-list:nth-of-type(2) {
	margin-left: 59px;
}

ul.schools-list li {
	list-style: disc;
	margin-bottom: 8px;
}

ul.schools-list li, ul.schools-list a {
	color: #444;
}

ul.schools-list a:hover {
	color: #767676;
	text-decoration: underline;
}

.contact-form {
	margin: auto;
	width: 500px;
	text-align: center;
}

#name, #email, #message, #subject {
	margin-top: 25px;
	padding: 5px 0	 5px 10px;
	font-size: 14px;
}

#name, #email, #message, #subject {
	width: 400px;
	border: 1px solid #aaa;
}

#message {
	margin-bottom: 25px;
	height: 125px;
}

input[type=submit] {
	display: block;
	margin: auto;
	margin-top: 25px;
}


/* Events */
.search {
	float: left;
	position: relative;
	left: 175px;
}

.search input {
	width: 200px;
	height: 20px;
	margin-top: 16px;
	padding-left: 10px;
	padding-bottom: 2px;
	font-size: 12px;
	border: none;
	border-radius: 3px;
}

nav {
	float: left;
	position: relative;
	top: 12px;
	left: 400px;
}

nav ul li {
	display: inline;
	float: left;
	padding: 5px 10px;
	margin-left: 5px;
	transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	border-radius: 3px	;

}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li:nth-child(2) {
	position: relative;
}

nav ul li:hover {
	background-color: #8F3931;
}

nav img {
	display: inline;
}

nav a {
	color: white;
}

nav .select {
	background-color: #B1746F;
}

nav .select:hover {
	background-color: #B1746F;
}

.subheading {
	position: relative;
	font-size: 20px;
	font-weight: 600;
	color: #8A9045;
}

.search-tags {
	position: relative;
	float: right;
	right: -2px;
	top: 80px;
	color: white;
}

.search-tags table {
	width: 235px;
	border-radius: 10%;
	font-size: 18px;
}

.search-tags table tr {
	cursor: pointer;
	border-bottom: 2px solid #ccc;
	transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
}

.search-tags table tr:last-of-type {
	border-bottom: none;
}

.search-tags table td {
	padding: 5px 0;
	text-align: center;
}

.search-tags .select {
	color: black;
	background-color: white;
	border: 2px solid #ccc;
	border-right: 2px solid white;
}

.search-tags .select td {
	font-weight: bold;
}

.search-calendar {
	position: relative;
	top: 100px;
}

.day_number {
	cursor: pointer;
}

.previous-month {
	padding-right: 1em;
}

.next-month {
	padding-left: 1em;
} 

.search-calendar h2 {
	padding-bottom: 2px;
	padding-top: 1px;
	font-weight: 500;
	font-size: 0.9em;
	text-align: center;
	border: 1px solid #ccc;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.search-calendar, .calendar, .search-calendar h2 {
	width: 95%;
	min-width: 230px;
	margin: auto;
}

.calendar {
	position: relative;
	height: 128px;
	border: 1px solid #ccc;
}

.calendar th {
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: bold;
	font-size: 0.7em;
	color: #aaa;
	background-color: #eee;
	text-align: center;
}

.calendar td {
	font-size: 0.75em;
	text-align: center;
}

.selected {
	padding: 0px;
	margin-top: -1px;
	background: #D49464 !important;
	border: 1px dashed #ccc;
}

.today div {
	padding: 0px;
	margin-top: -1px;
	background: #aaa;
	border: 1px dashed #ccc;
}

.not-current-month {
	color: #ccc;
}



/* Main Events */

.event-day-wrapper {
	float: left;
	position: relative;
}

.event-day {
	position: absolute;
	top: 0;
	width: 95%;
	min-width: 950px;
	margin: 0;
	padding: 15px 0 7px 15px;
	font-size: 20px;
	font-weight: 600;
	z-index: 100;
	color: #8F3931;
	background-color: white;
	border-bottom: 2px solid #ccc;
}

.event-group {
	width: 100%;
	margin: auto;
	padding-top: 50px;
}

.event-card {
	float: left;
	margin: 0;
	padding: 15px 0 10px 10px;
	height: 125px;
	width: 98%;
	min-width: 950px;
	border-bottom: 1px solid #ccc;
}

.event-card:hover {
	background-color: #eee;
	transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
}

.event-card:first-child {
	margin-top: 10px;
}

.event-card:last-child {
	margin-bottom: 15px;
}

.event-card figure {
	float: left;
	width: 210px;
	text-align: center;
}

.event-small-pic {
	position: relative;
	width: 195px;
	height: 120px;
}

.event-card figcaption {
	padding-top: 5px;
	color: #444;
	font-size: 16px;
	font-weight: 600;
}

.event-info {
	float: left;
	padding-left: 5px;
	width: 55%;
	min-width: 500px;
}

.event-title {
	float: left;
	position: relative;
	top: -2px;
	width: 100%;
	color: #8A9045;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: -1px;
}

.event-tags {
	float: left;
	width: 100%;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.event-tags ul {
	padding-left: 3px;
}

.event-tags li {
	display: inline;
	left: 0;
	margin-left: 0;
	padding: 3px 10px;
	font-style: italic;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
}


.event-location, .event-time {
	float: left;
	padding-left: 2px;
	width: 100%;
	font-size: 18px;
	color: #444;
}

.event-time {
	margin-bottom: 2px;
}

.event-card button {
	position: relative;
	top: 40px;
}

#back {
	position: absolute;
	top: 65px;
	left: 94px;
}

.event-banner {
	position: relative;
	top: 55px;
	width: 87%;
	min-width: 850px;
	height: 325px;
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eee;
}

.event-banner figure {
	width: 100%;
	height: 275px;
}

.event-banner figure img {
	width: 100%;
	height: 100%;
}

.event-banner figure figcaption {
	position: absolute;
	bottom: 45px;
	width: 500px;
	height: 50px;
	padding-left: 25px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -0.5px
}

.event-banner li, .event-show-info p {
	color: #444;
}

.event-buttons {
	position: relative;
	float: right;
	top: 10px;
	right: 25px;
}

.event-show-info, .event-friends {
	float: left;
	position: relative;
	top: 75px;
	height: 123px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #eee;
}

.event-show-info {
	left: 63px;
	width: 44%;
	min-width: 425px;
}

.event-show-info p {
	padding: 10px 0 10px 10px;
	font-size: 15px;
	border-bottom: 1px solid #ccc;
}

.event-show-info p:last-child {
	border-bottom: none;
}

.event-friends {
	left: 90px;
	width: 40%;
	min-width: 380px;
	text-align: center;
}

.event-friends strong {
	position: relative;
	top: 15px;
	color: #155F83;
	font-size: 28px;
}

.event-friends p {
	padding: 12px;
}

.event-description {
	position: relative;
	top: 100px;
	width: 87%;
	min-width: 850px;
	height: auto;
	margin: auto;
	text-align: left;
}

.event-description p {
	float: left;
	margin-bottom: 25px;
} 
