/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


/* Colors */
.red-bg {
	background-color: #8F3931;
}

.red-bg:hover {
	background-color: #B1746F;
}

.blue-bg {
	background-color: #155F83;
}

.blue-bg:hover {
	background-color: #5B8FA8;
}

.green-bg {
	background-color: #8A9045;
}

.green-bg:hover {
	background-color: #ADB17D;
}

.yellow-bg {
	background-color: #CC8214;
}

.yellow-bg:hover {
	background-color: #FFB547;
}

.orange-bg {
	background-color: #C16622;
}

.orange-bg:hover {
	background-color: #D49464;
}

.grey-bg {
	background-color: #878c90;
}

.grey-bg:hover {
	background-color: #aaa
}


/* Global Styles*/
button, .mobile-download {
	position: relative;
	
	/*Condense with SCSS*/
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
}

button a {
	color: white;
}

button:hover {
	cursor: pointer;
}

.button-small {
	font-size: 16px;
	width: 125px;
	height: 30px;
	color: white;
	border: none;
}


.button-large {
	font-size: 26px;
	width: 325px;
	height: 60px;
	border: none;
}

a {
	text-decoration: none;
}


/* Layouts */
.body-homepage {
	background-color: black;
}

header {
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 100;
	background-color: #800000;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.bg-home {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg1.jpg');
	background-size: cover;
	opacity: 0.7;
}

.bg-wallpaper {
	background-image: url('../img/soft_wallpaper.png');
}

main, .main-home {
	position: relative;
	width: 100%;
	min-width: 1280px;
	min-height: 100%;
	height: auto;
}

.main-wrapper {
	position: relative;
	top: 50px;
	padding: 30px 50px 0 50px;
	margin: 0 auto;
	height: 90%;
	height: auto;
	width: 100%;
	max-width: 950px;
	border: 1px solid #ccc;
	background-color: white
}

.main-home {
	text-align: center;
	color: white;
}

footer {
	font-size: 14px;
	text-align: center;
	width: 100%;
}

footer a {
	color: white;
}

footer ul {
	display: inline-block;
	width: auto;
	list-style: none;
}

footer li {
	margin: 0 15px 0 0;
	display: inline;
}

.footer-home{
	bottom: 25px;
	position: absolute;
}



/* Homepage */

.logo {
	float: left;
	position: relative;
	top: 11px;
	left: 30px;
	width: 500px;
}

.logo img {
	width: 30px;
	float: left;
}

h1 {
	position: relative;
	float: left;
	left: 12px;
	top: 3px;
}

h1 a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.home-btns {
	position: relative;
	float: right;
	top: 10px;
	right: 30px;
}

.main-home  h2 {
	position: relative;	
	top: 180px;
	padding-bottom: 30px;
	font-size: 40px;
}

.welcome-message {
	position: relative;
	top: 170px;
	margin: auto;
	width: 1000px;
	font-size: 24px;
	font-weight: 300;
	line-height: 35px;
}

.play-video {
	top: 235px;
}

.signup {
	top: 236.5px;
}

.play-video {
	margin-right: 50px;
}

.mobile-download {
	position:relative; 
	top:320px; 
	left: 325px;
}

.heading {
	position: relative;
	margin-bottom: 25px;
	font-size: 40px;
	color: #8A9045;
}

a, .text-blue, .text-blue a {
	color: #5B8FA8;
}

ul.schools-list {
	float: left;
	position: relative;
	width: 400px;
	left: 75px;
	font-size: 20px;
}

ul.schools-list:nth-of-type(2) {
	margin-left: 100px;
}

ul.schools-list li {
	list-style: disc;
	margin-bottom: 8px;
}

ul.schools-list li, ul.schools-list a {
	color: #444;
}

ul.schools-list a:hover {
	color: #767676;
	text-decoration: underline;
}

.contact-form {
	margin: auto;
	width: 500px;
	text-align: center;
}

#name, #email, #message, #subject {
	margin-top: 25px;
	padding: 5px 0	 5px 10px;
	font-size: 14px;
}

#name, #email, #message, #subject {
	width: 400px;
	border: 1px solid #aaa;
}

#message {
	margin-bottom: 25px;
	height: 125px;
}

input[type=submit] {
	display: block;
	margin: auto;
	margin-top: 25px;
}

