<header>
	<div class="logo">
		<%= link_to(image_tag("logo.png", :alt => "logo"), root_url) %>
		<h1><%= link_to "UEvents", root_url %></h1>
	</div>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li class="select"><%= link_to "Jobs at UEvents", jobs_path %></li>
		</ul>
	</nav>
</header>

<main class="bg-wallpaper">
	<div class="main-wrapper">
		<h2 class="heading">Chief Marketer</h2>

			<p><strong>Our Mission</strong></p>
			<br>
			<p>College is about meeting new people and sharing unforgettable experiences together. We help students create these long-lasting memories by showing them events both on and off-campus that we think they’ll love.</p>
			<br>
			<br>

			<p><strong>The Challenge</strong></p>
			<br>
			<p>We created UEvents to tackles a problem we encountered as college students and to deliver a valuable and personalized experience for each individual user. In order to scale quickly, we need to establish well-defined marketing channels to more effectively reach our target audience. </p>
			<br>
			<p><em>For our purposes, marketing is defined as any function or process necessary to understand customer needs and then design, deliver, and communicate products and services that meet those needs profitably. In a two-sided market, how good we are at this will ultimately determine our success or failure.</em></p>
			<br>
			<br>

			<p><strong>The Role</strong></p>
			<br>
			<p><b>Spread the word.</b> You will be working alongside the CEO to develop marketing strategies to increase our brand visibility and user conversions. You'll also have the opportunity to build your own team as we grow.</b></p>
			<br>
			<p><b>Own our user relationships.</b> As a startup focused on user-growth and retention, we need to make sure that all of our interactions with users lead back to increasing conversions. You will also be working with our partner universities to establish strategies to increase student engagement on our platform. This can include our email newsletters, social media presence and anything else you can think of!</p>
			<br>
			<p><b>Wear many hats.</b> There are many things to be done and you'll be dipping your hands in multiple projects at once. From working with the dev team to A/B test email campaigns to generating social media buzz - you will get the authentic startup experience.</p>
			<br>
			<br>

			<p><strong>About You</strong></p>
			<br>
			<p>You’re as enthused as we are about fundamentally changing local event discovery and you can't wait to get started.</p>
			<br>
			<p><b>You care about all things "people".</b> What is the impact of every decision we make, and how can we tweak our existing processes to positively and profitably influence user behavior?</p>
			<br>
			<p><b>Embrace the unknown.</b> You get shit done. You’re also a self-starter - you can take a project and run with it, but also know to ask for help when you’re stumped. You're unfazed and quite frankly, excited, at the challenge of finding creative solutions to difficult problems with limited resources. </p>
			<br>
			<p><b>Organization is your strength.</b> You'll be juggling multiple projects and working across different teams - communication and organization will be your best bet to ensure that all deadlines and milestones are met.</p>
			<br>
			<br>

			<p><strong>Apply Now!</strong></p>
			<br>
			<p>Interested? Please contact us at <a href="mailto:team@uevents.io" style="font-weight: 600;">team@uevents.io</a> or through our <a href="contact.html" style="font-weight: 600;">contact form</a> and include the position you are interested in, along with a resume, website or portfolio we can look at just to get to know you better. Creativity is encouraged!</p>

			<br>
			<br>
			<br>
			
			<%= render 'shared/footer' %>

	</div>
</main>
