// Event History Table
.table-wrapper {
 float: left;
 width: 100%;
 margin-top: 25px;
 max-height: 316px;
 overflow-y: scroll;
 margin-bottom: 35px;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}
.table-wrapper table {
 width: 100%;
 font-size: 0.9em;
}
.table-wrapper th, .table-wrapper td {
 padding: 10px;
 border-bottom: none;
 vertical-align: middle;
 text-align: center;
}
.table-wrapper th {
  background: #aaa;
  font-weight: bold;
 text-decoration: underline;
 border-right: 1px solid white;
}
.table-wrapper table a {
color: white;
}
.table-wrapper table a:first-child {
 -webkit-border-top-left-radius: 5px;
 -moz-border-radius-top-left: 5px;
 border-top-left-radius: 5px;
}
.table-wrapper table a:last-child {
 -webkit-border-top-right-radius: 5px;
 -moz-border-radius-top-right: 5px;
 border-top-right-radius: 5px;
}
.table-wrapper td {
 border-bottom: 1px solid #eee;
 border-right: 1px solid #eee;
}
.table-wrapper td:last-child {
 border-right: 0;
}
.table-wrapper tr:first-of-type {
 border-bottom: 2px solid white;
}
.table-wrapper tr:nth-child(even) {
 background: #ccc;
}
.table-wrapper tr:nth-child(even) td {
 border-right: 1px solid #fff;
}
